$designColor: #f581b0;

.about-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  margin: 8rem 2rem 0 2rem;
  
}

.about-container img {
  width: 100%;
  max-width: 40rem;
  height: auto;
}

.container2 h1{
    color: $designColor;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Cabin Condensed", sans-serif;
   overflow: hidden;
  white-space: nowrap; 
  animation: typingEffectAnimation 2s steps(30, end);
  font-style: normal;
}

.container2 h2{
    font-weight: 600;
}

.container2 p{
    font-size: 1.3rem;
}

.container2 h3{
    font-weight: 600;
}

.personal-details p{
    font-style: italic;
    font-size: 1rem;
}


@media only screen and (max-width:1200px){

    .about-container img {
        width: 100%;
        max-width: 38rem;
        height: auto;
        margin-top: 3rem;
      }
    .container2 p{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:1100px){
    .about-container{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width:992px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:768px){
    

}



@keyframes typingEffectAnimation {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}




