$designColor:#f581b0;
$bgcolor:#fff;
$textcolor:#161616;

section{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding:0 15px ;
    overflow:auto;
   
   
}


.container1{
    margin-left: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
  /*   flex: 1; */
}

.container1 h1{
    color:$designColor ;
    font-size: 80px;
    font-weight: bolder;
}
.container1 span{
    color:$textcolor ;
    display: block;
}
.container1 button{
    background-color:$designColor ;
    border: none;
    color:$bgcolor ;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
}

.container1 p{
    display: flex;
    flex-wrap: wrap;
}



 img{
    max-width: 1000px;
    width: 100%;
    height: auto;
}


@media only  screen and (max-width:768px){
    section{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        
        width: 100%;
    
}
.container1{
    margin-left: 25px;
    width: 100%;
}

.container1 h1{
    color:$designColor ;
    font-size: 30px;
}
.container1 p{
    display: flex;
    flex: 1;
    font-size: 15px;
   

}

.container1 button{
    background-color:$designColor ;
    border: none;
    color:$bgcolor ;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    width: 150px;
}
.container2{
    margin-left: 25px;
    width: 100%;
   
}

 img{
    width: 100%; 
    
    height: auto;
   
}



}

@media only  screen and (max-width:992px){
    section{
        display: flex;
        flex-direction: column;
        padding-right:0 20px ;
    }

    .container1 h1{
        color:$designColor ;
        font-size: 60px;
    }
    .container1 p{
        display: flex;
        flex: 1;
        font-size: 15px;
       
    
    }

    .container2 img{
        margin-top: 0.2rem;
        width: 700px;
        height: 600px;
    }

}

