$designColor:#f581b0;
$bgcolor:#fff;



.contact-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem;
    margin-top: 8rem;
    overflow:hidden ;
    
   
}

.contact-container h1{
    color: $designColor;
    font-size: 5rem;
    font-weight: 900;
    font-family: "Cabin Condensed", sans-serif;
     overflow: hidden;
    white-space: nowrap; 
    animation: typingEffectAnimation 2s steps(30, end);
    font-style: normal;
   
   
}

.container3{
    width: 100%;
    min-height: 80vh;
}



 .form-container{
    display: grid;
    grid-template-columns: 2fr ;
    gap: 3rem;
    width: 100%;
    
 
    
   
} 

.form-container input{
    
    padding: 0.7rem;
    width: 100%;
    max-width: 40rem;
   
}

.form-container textarea{
    min-height: 13rem;
    padding: 0.7rem;
    max-width: 40rem;
    width: 100%;
}

.form-container button{
    background-color: $designColor;
  border: none;
  color: $bgcolor;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  max-width: 13rem;
 width: 100%;
}


@media only screen and (max-width:1200px){
   /* .contact-container{
    margin-left: 10rem;
   } */

    .form-container input{
        padding: 0.7rem;
        width: 100%;
        max-width: 28rem;
    }
    .form-container textarea{
        width: 100%;
        max-width: 28rem;
       
    }

}
@media only screen and (max-width:992px){

    .form-container input textarea{
        display: flex;
        flex-direction: column;
        padding: 0.7rem;
        width: 100%;
        max-width: 22rem;
    }

    input:nth-child(2){
        margin-right: 1rem;
    }

}

@media only screen and (max-width:768px){

   
.contact-container h1{
    font-size: 3rem;
}
  
    .form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 3rem;
    }
    
}




@keyframes typingEffectAnimation {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}
 