$designColor:#f581b0;

.Missing{
    margin-top: 8rem;
    margin-left: 2rem;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.Missing h2{
    color:$designColor ;
    font-size: 5rem;
}

.Missing p{
    font-size:1.5rem;
}